*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #3EB489;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    border-radius: 10%;
    border: solid black;
    height: 800px;
    width: 500px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.display{
    background-color: lightgray;
    border: solid black;
    height: 150px;
    width: 400px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.current-operand{
    padding-left: 270px;
    margin-right: 10px;
    margin-bottom: 3px;
    font-size: 65px;
    height: 90px;
    width: 380px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}  
.previous-operand{
    border-bottom: solid black;
    height: 50px;
    width: 380px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
}

.buttons-grid{
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.remove-buttons{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clear-button{
    padding: 20px 50px;
    border-radius: 10%;
}

.clear-button:hover{
    cursor: pointer;
}


#clear{
    background-color: #faa;
}

#delete{
background-color: #aff;
}

.number-buttons{
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.button, .operate, .equals, .decimal{
    margin-top: 10px;
    height: 75px;
    width: 75px;
    border-radius: 10%;
}

.button:hover{
    cursor: pointer;
}

.operate{
    font-size: larger;
}